<!DOCTYPE html>
<html>
  <head>
    <title>Felix</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css?family=Arimo|Ramabhadra|Source+Sans+Pro|Open+Sans|Muli|Merriweather+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.typekit.net/bky3qqd.css">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
